footer {
    background-color: $black;
    padding: 5px 0;
    margin: 0;
    p {
        color: $white;
        font-size: 0.9rem;
        line-height: 1rem;
        padding: 0;
        text-align: center;
    }
}