// orange
$accent: #f38d8d; 
// dusk blue
$primary1: #227284;
//grey blue
$primary2: #68b0c1;
//light blue grey
$primary3: #b9dde7;
//white shade
$primary4: #f6f6f6;
//black
$black: #171717;
//white
$white: #ffffff;

//font-family;
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@400;700&display=swap');
$headerFont: 'Oswald', sans-serif;
$bodyFont: 'Cabin', sans-serif;