@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
a,
a.button,
nav .navLogo {
  color: #171717;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

form,
::-webkit-input-placeholder,
p {
  color: #171717;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0px;
}

form,
:-ms-input-placeholder,
p {
  color: #171717;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0px;
}

form,
::-ms-input-placeholder,
p {
  color: #171717;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0px;
}

form,
::placeholder,
p {
  color: #171717;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0px;
}

nav.menu {
  background-color: #b9dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.menu li {
  font-size: 1rem;
  padding: 0 25px;
}

nav.menu p {
  font-size: 2.1rem;
  line-height: 2.1rem;
  padding: 0 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

a:hover,
a:focus {
  color: #ffffff;
}

a.button {
  display: inline-block;
  color: #f38d8d;
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: #171717;
  padding: 10px 30px;
}

a.button:hover,
a.button:focus {
  color: #ffffff;
  background-color: #f38d8d;
}

img {
  width: 100%;
  display: block;
}

header.homePage {
  height: 100vh;
  background-color: #b9dde7;
}

header.homePage div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.homePage div .heroImage {
  width: 35%;
  -webkit-box-shadow: 20px 20px 0 #ffffff;
          box-shadow: 20px 20px 0 #ffffff;
  position: relative;
  top: 60px;
}

div.banner {
  position: relative;
  margin: 0 auto;
}

div.banner h1 {
  font-size: 7rem;
  line-height: 7rem;
  text-align: center;
}

div.banner img {
  position: absolute;
  width: 35%;
  right: -10%;
  top: -40%;
}

section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #f6f6f6;
}

section.about .aboutWho {
  width: 50%;
  padding: 100px 0;
  margin-right: calc(15% / 2);
}

section.about img {
  width: 100%;
}

section.about .aboutInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0 100px;
}

section.about .aboutInfo .textContainer {
  width: 50%;
  padding: 40px 0 0 80px;
}

.aboutInfo .textContainer {
  position: relative;
}

.aboutInfo .textContainer div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #b9dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 35px;
  left: 25px;
}

.aboutInfo .textContainer div i {
  color: #171717;
  font-size: 1.2rem;
}

section.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

section.blog .blogTravels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.blog .blogTravels .imageContainer {
  width: 50%;
  position: relative;
  top: -30px;
}

section.blog .blogTravels .textContainer {
  width: 50%;
  padding: 100px 0 40px 60px;
}

section.blog .blogFavThings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.blog .blogFavThings .imageContainer {
  width: 50%;
  position: relative;
  top: 30px;
}

section.blog .blogFavThings .textContainer {
  width: 50%;
  padding: 40px 60px 100px 0;
}

section.blog .blogFavThings .textContainer a.button {
  float: right;
}

.blogTravels .imageContainer img {
  -webkit-box-shadow: 15px 15px 0 #68b0c1, -200px 15px 0 #68b0c1;
          box-shadow: 15px 15px 0 #68b0c1, -200px 15px 0 #68b0c1;
}

.blogFavThings .imageContainer img {
  -webkit-box-shadow: 15px 15px 0 #b9dde7, 200px 15px 0 #b9dde7;
          box-shadow: 15px 15px 0 #b9dde7, 200px 15px 0 #b9dde7;
}

section.journey {
  padding: 120px 0 100px;
  background-color: #f6f6f6;
}

section.journey div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.journey div.wrapper .imageContainer {
  width: 30%;
}

section.journey div.wrapper .textContainer {
  width: 70%;
  padding-left: 100px;
}

section.journey img {
  -webkit-box-shadow: 20px 20px 0 #227284;
          box-shadow: 20px 20px 0 #227284;
}

ul.galleryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0;
}

ul.galleryList li {
  width: 30%;
}

ul.galleryList li img {
  width: 100%;
}

footer {
  background-color: #171717;
  padding: 5px 0;
  margin: 0;
}

footer p {
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0;
  margin: 0;
  text-align: center;
}
