@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@400;700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
a,
a.button,
nav .navLogo {
  color: #171717;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

form,
p {
  color: #171717;
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0px;
}

nav.menu {
  background-color: #b9dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

nav.menu li {
  font-size: 1rem;
  padding: 0 25px;
}

nav.menu p {
  font-size: 2.1rem;
  line-height: 2.1rem;
  padding: 0 25px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav.menu i {
  font-size: 1.5rem;
  position: absolute;
  top: 16px;
  right: 16px;
  visibility: hidden;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

a:hover,
a:focus {
  color: #ffffff;
}

a.button {
  display: inline-block;
  color: #f38d8d;
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: #171717;
  padding: 10px 30px;
}

a.button:hover,
a.button:focus {
  color: #ffffff;
  background-color: #f38d8d;
}

img {
  width: 100%;
  display: block;
}

header.homePage {
  height: 100vh;
  background-color: #b9dde7;
}

header.homePage div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.homePage div.wrapper .heroImage {
  width: 35%;
  min-width: 190px;
  -webkit-box-shadow: 20px 20px 0 #ffffff;
          box-shadow: 20px 20px 0 #ffffff;
  position: relative;
  top: 60px;
}

div.banner {
  position: relative;
  margin: 0 auto;
}

div.banner h1 {
  font-size: 6rem;
  line-height: 6rem;
  text-align: center;
}

div.banner img {
  position: absolute;
  width: 35%;
  right: -10%;
  top: -40%;
}

section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

section.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section.about .wrapper .aboutWho {
  width: 50%;
  padding: 100px 0;
}

section.about img {
  width: 100%;
}

section.about .aboutInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 0 100px;
}

section.about .aboutInfo .textContainer {
  width: 50%;
  padding: 40px 0 0 80px;
}

.aboutInfo .textContainer {
  position: relative;
}

.aboutInfo .textContainer div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #b9dde7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 35px;
  left: 25px;
}

.aboutInfo .textContainer div i {
  color: #171717;
  font-size: 1.2rem;
}

section.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.blog .blogTravels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.blog .blogTravels .imageContainer {
  width: 50%;
  position: relative;
  top: -30px;
}

section.blog .blogTravels .imageContainer img {
  -webkit-box-shadow: 15px 15px 0 #68b0c1, -110px 15px 0 #68b0c1;
          box-shadow: 15px 15px 0 #68b0c1, -110px 15px 0 #68b0c1;
}

section.blog .blogTravels .textContainer {
  width: 50%;
  padding: 80px 0 40px 60px;
}

section.blog .blogFavThings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

section.blog .blogFavThings .imageContainer {
  width: 50%;
  position: relative;
  top: 40px;
}

section.blog .blogFavThings .imageContainer img {
  -webkit-box-shadow: 15px 15px 0 #b9dde7, 110px 15px 0 #b9dde7;
          box-shadow: 15px 15px 0 #b9dde7, 110px 15px 0 #b9dde7;
}

section.blog .blogFavThings .textContainer {
  width: 50%;
  padding: 40px 60px 80px 0;
}

section.blog .blogFavThings .textContainer a.button {
  float: right;
}

section.journey {
  padding: 120px 0 100px;
  background-color: #f6f6f6;
}

section.journey div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.journey div.wrapper .imageContainer {
  width: 30%;
  min-width: 165px;
}

section.journey div.wrapper .textContainer {
  width: 70%;
  padding-left: 100px;
}

section.journey img {
  -webkit-box-shadow: 20px 20px 0 #227284;
          box-shadow: 20px 20px 0 #227284;
}

ul.galleryList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px 0;
}

ul.galleryList li {
  width: 30%;
}

ul.galleryList li img {
  width: 100%;
}

header.blogPage {
  background: url(../assets/blog-image-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  position: relative;
}

header.blogPage h1 {
  position: absolute;
  bottom: -43px;
}

div.blogPage {
  background-color: #f6f6f6;
  padding: 100px 0;
}

div.blogPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.blogPage .wrapper aside.blogPage {
  width: calc(30% - 30px);
  margin-right: 30px;
}

div.blogPage .wrapper main.blogPage {
  width: 70%;
}

aside.blogPage section {
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
}

section.aboutHarper .imageContainer {
  width: 100%;
  margin-bottom: 20px;
}

section.recentPost ul {
  list-style-type: disc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 20px;
}

section.recentPost ul a {
  text-transform: none;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0px;
}

main.blogPage section {
  margin-bottom: 30px;
  border-bottom: 5px solid #227284;
}

section.blogPost {
  background-color: #ffffff;
  padding: 30px;
}

section.commentPost .commentBox {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin-bottom: 15px;
}

section.commentPost .commentBox div.imageContainer {
  width: 120px;
  height: 120px;
  overflow: hidden;
}

section.commentPost .commentBox p {
  width: 80%;
  padding: 0 0 0 30px;
  margin: 0;
}

section.commentPost .commentBox:last-child {
  margin-bottom: 0;
}

header.contactPage {
  background: url(../assets/contact-image-1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
  position: relative;
}

header.contactPage h1 {
  position: absolute;
  bottom: -43px;
}

main.contactPage {
  background-color: #f6f6f6;
  padding: 90px 0;
}

main.contactPage div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main.contactPage div.wrapper .contactInfo {
  width: calc(30% - 25px);
  min-width: 250px;
  padding: 40px 20px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.contactPage div.wrapper .contactForm {
  width: 70%;
}

section.contactInfo a.contactEmail {
  padding: 5px 0 15px;
}

section.contactInfo a.telephoneNumber,
section.contactInfo address {
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 400;
}

section.contactInfo a:hover,
section.contactInfo a:focus {
  color: #171717;
}

nav.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav.socialMedia ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

nav.socialMedia a {
  padding: 2px;
}

nav.socialMedia a i {
  color: #227284;
  font-size: 1.2rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form label {
  display: none;
}

form input[type="text"],
form input[type="email"],
form textarea {
  border: 1px solid #ffffff;
  padding: 15px;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
}

form input[type="text"],
form input[type="email"] {
  width: 49%;
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 10px;
}

form input[type="text"] {
  margin-right: 10px;
}

form textarea,
form input[type="submit"] {
  width: 100%;
  margin-bottom: 10px;
}

form textarea {
  min-width: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  height: 350px;
  resize: none;
}

form .submitButton {
  color: #f38d8d;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.6rem;
  background-color: #171717;
  border: none;
  padding: 10px 30px;
}

form .submitButton:hover,
form .submitButton:focus {
  color: #ffffff;
  background-color: #f38d8d;
}

footer {
  background-color: #171717;
  padding: 5px 0;
  margin: 0;
}

footer p {
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0;
  margin: 0;
  text-align: center;
}

@media (max-width: 970px) {
  header.homePage div.wrapper {
    height: 90vh;
  }
  header.homePage div.wrapper .heroImage {
    position: static;
  }
  div.banner h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  div.blogPage .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  div.blogPage .wrapper aside.blogPage {
    width: 100%;
    margin-top: 100px;
    margin-right: 0px;
  }
  div.blogPage .wrapper main.blogPage {
    width: 100%;
  }
  section.aboutHarper {
    width: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.aboutHarper .imageContainer {
    width: 25%;
    min-width: 100px;
    margin-bottom: 0;
  }
  section.aboutHarper .textContainer {
    padding-left: 20px;
  }
  form input[type="text"],
  form input[type="email"] {
    width: 100%;
  }
  form input[type="text"] {
    margin-right: 0;
  }
}

@media (max-width: 800px) {
  section.about .wrapper .aboutWho {
    width: 100%;
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.about .wrapper .aboutWho p {
    text-align: center;
  }
  section.blog p {
    text-align: center;
  }
  section.blog .blogTravels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.blog .blogTravels .imageContainer {
    width: 100%;
    position: static;
  }
  section.blog .blogTravels .textContainer {
    width: 100%;
    padding: 60px 0 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.blog .blogFavThings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.blog .blogFavThings .imageContainer {
    width: 100%;
    position: static;
  }
  section.blog .blogFavThings .textContainer {
    width: 100%;
    padding: 60px 0 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.blog .blogFavThings .textContainer a.button {
    float: none;
  }
}

@media (max-width: 680px) {
  .wrapper {
    width: 95%;
  }
  nav.menu li {
    visibility: hidden;
  }
  nav.menu p {
    visibility: hidden;
  }
  nav.menu i {
    visibility: visible;
  }
  header.homePage {
    height: 100vh;
  }
  header.homePage div.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.homePage div.wrapper .heroImage {
    -webkit-box-shadow: 20px 20px 0 #ffffff;
            box-shadow: 20px 20px 0 #ffffff;
    position: static;
  }
  section.about .aboutInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0 60px;
  }
  section.about .aboutInfo .textContainer {
    width: 100%;
    padding: 20px 0 0 60px;
  }
  .aboutInfo .textContainer div {
    top: 18px;
    left: 5px;
  }
  .aboutInfo .textContainer div i {
    color: #171717;
    font-size: 1.2rem;
  }
  section.journey {
    padding: 100px 0 60px;
  }
  section.journey div.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.journey div.wrapper .imageContainer {
    width: 60%;
  }
  section.journey div.wrapper .textContainer {
    width: 100%;
    padding-left: 0px;
    padding-top: 60px;
  }
  section.journey .textContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.journey .textContainer p {
    text-align: center;
  }
  header.blogPage,
  header.contactPage {
    height: 50vh;
  }
  header.blogPage h1,
  header.contactPage h1 {
    font-size: 2.8rem;
    padding-left: 30px;
  }
  main.contactPage div.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main.contactPage div.wrapper .contactInfo {
    width: 100%;
    margin-right: 0px;
  }
  main.contactPage div.wrapper .contactForm {
    width: 100%;
  }
  nav.socialMedia ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60px;
            flex: 0 1 60px;
  }
  nav.socialMedia a {
    padding: 2px;
  }
  nav.socialMedia a i {
    color: #227284;
    font-size: 1.2rem;
  }
}

@media (max-width: 530px) {
  h2 {
    text-align: center;
  }
  div.banner {
    position: relative;
    margin: 0 auto;
  }
  div.banner h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
  }
  div.banner img {
    position: absolute;
    width: 35%;
    right: -10%;
    top: -40%;
  }
  ul.galleryList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0 0;
  }
  ul.galleryList li {
    width: 60%;
    min-width: 250px;
    margin-bottom: 60px;
  }
  ul.galleryList li img {
    width: 100%;
  }
  section.commentPost .commentBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  section.commentPost .commentBox p {
    width: 100%;
    padding: 10px 0 0;
  }
}
